<div id="teachers-list">
  <#if hasTeachers>
    <m3e-action-list class="teachers-table-heading-list">
      <m3e-list-action class="schedule-table-heading-action" data-heading="true" tabindex="-1">
        <div class="schedule-table-heading-row">
          <div style="width: 32px; opacity: 0"></div>
          <m3e-heading variant="label" size="large">ФИО</m3e-heading>
        </div>
        <div class="teacher-row-actions" slot="trailing"></div>
      </m3e-list-action>
    </m3e-action-list>
    <m3e-divider></m3e-divider>

    <div id="teachers-action-list" class="teachers-action-list">
      <#include "/teachers/teachers_chunk.html">
    </div>
  <#else>
    <div class="schedule-empty-state" style="color: var(--md-sys-color-on-surface-variant); padding: 48px; text-align: center; display: flex; flex-direction: column; align-items: center;">
      <m3e-shape name="4-sided-cookie" style="--m3e-shape-container-color: var(--md-sys-color-surface-container); --m3e-shape-size: 96px;">
        <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
          <m3e-icon name="co_present" variant="rounded" style="font-size: 48px; color: var(--md-sys-color-surface-tint)"></m3e-icon>
        </div>
      </m3e-shape>
      <m3e-heading variant="headline" size="small" style="margin-top: 24px;">Преподаватели не найдены</m3e-heading>
    </div>
  </#if>
</div>
